body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100vw;
    font-family: 'Courier New', Courier, monospace;
}

.wrapper {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.chessBoard {
    border-collapse: collapse;
    border: 2px solid black;
}

.cell {
    width: 80px;
    height: 80px;
    background-color: rgb(255, 205, 124);
}

.blackCell {
    width: 80px;
    height: 80px;
    background-color: rgb(122, 87, 42);
}
