body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    font-family: 'Courier New', Courier, monospace;
}

.wrapper {
    width: 100%;
    height: 100%;

    background-color: rgb(25, 25, 21);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.numbersColumn {
    display: flex;
    flex-direction: column;

    color: white;
}

.num {
    height: 37px;
    text-align: center;
}

.lettersRow {
    display: flex;
    flex-direction: row;

    color: white;
}

.letter {
    width: 37px;
}

.chessBoard {
    border-collapse: collapse;
}

.cell {
    width: 35px;
    height: 35px;
    background-color: rgb(255, 205, 124);

    text-align: right;
}

.blackCell {
    width: 35px;
    height: 35px;
    background-color: rgb(122, 87, 42);

    text-align: right;
}

@media (min-width: 540px) {
    .cell {
        width: 50px;
        height: 50px;
    }

    .blackCell {
        width: 50px;
        height: 50px;
    }

    .num {
        height: 52px;
    }

    .letter {
        width: 52px;
    }
}
@media (min-width: 780px) {
    .cell {
        width: 65px;
        height: 65px;
    }

    .blackCell {
        width: 65px;
        height: 65px;
    }

    .num {
        height: 67px;
    }

    .letter {
        width: 67px;
    }
}
@media (min-width: 1024px) {
    .cell {
        width: 75px;
        height: 75px;
    }

    .blackCell {
        width: 75px;
        height: 75px;
    }

    .num {
        height: 77px;
    }

    .letter {
        width: 77px;
    }
}
@media (min-width: 1280px) {
    .cell {
        width: 80px;
        height: 80px;
    }

    .blackCell {
        width: 80px;
        height: 80px;
    }

    .num {
        height: 82px;
    }

    .letter {
        width: 82px;
    }
}
