body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    font-family: 'Courier New', Courier, monospace;

    font-weight: bold;
}

.wrapper {
    width: 100%;
    height: 100%;

    background-color: rgb(25, 25, 21);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(118, 29, 29);
}

.chessContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbersColumn {
    display: flex;
    flex-direction: column;

    width: 20px;
    color: white;
}

.num {
    height: 35px;

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.lettersRow {
    display: flex;
    flex-direction: row;

    text-align: center;
    height: 20px;

    color: white;
}

.letter {
    width: 35px;
}

.chessBoard {
    display: flex;
    flex-direction: column;
}

.tableRow {
    display: flex;
    flex-direction: row;
    height: 35px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 35px;
    height: 35px;
    background-color: rgb(255, 205, 124);

    text-align: right;
    user-select: none;
}

.tableRow:nth-child(even) .cell:nth-child(odd) {
    background-color: rgb(122, 87, 42);
}

.tableRow:nth-child(odd) .cell:nth-child(even) {
    background-color: rgb(122, 87, 42);
}

.targetCell {
    background-color: rgba(66, 255, 69) !important;
}

.targetFigure {
    background-color: rgb(69, 168, 255) !important;
}

@media (min-width: 540px) {
    .cell {
        width: 50px;
        height: 50px;
    }

    .tableRow {
        height: 50px;
    }

    .num {
        height: 50px;
    }

    .letter {
        width: 50px;
    }
}
@media (min-width: 780px) {
    .cell {
        width: 65px;
        height: 65px;
    }

    .tableRow {
        height: 65px;
    }

    .num {
        height: 65px;
    }

    .letter {
        width: 65px;
    }
}
@media (min-width: 1024px) {
    .cell {
        width: 75px;
        height: 75px;
    }

    .tableRow {
        height: 75px;
    }

    .num {
        height: 75px;
    }

    .letter {
        width: 75px;
    }
}
@media (min-width: 1280px) {
    .cell {
        width: 80px;
        height: 80px;
    }

    .tableRow {
        height: 80px;
    }

    .num {
        height: 80px;
    }

    .letter {
        width: 80px;
    }
}

td {
    padding: 0px;
}
